extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Haber Gir
        div.form-container
          form(method='post' action='/')
            div.form-group
              label(for='haberResim') Haber Resmi:
              input#haverResmi.form-control(type='file', name='haberResim', accept="image")
            div.form-group
              label(for='haberBasligi') Haber Başlığı:
              input#haberBasligi.form-control(type='text', placeholder='başlık' name='haberBasligi')
            div.form-group
              label(for='haberTuru') Haber Türü:
              select#haberTuru.form-control(name='haberTuru')
                option(value="gundem") Gündem
                option(value="spor") Spor
                option(value="egitim") Egitim
                option(value="ekonomi") Ekonomi
            div.form-group
              label(for='haberIcerigi') Haberin İçeriği:
              textarea#haberIcerigi(name="haberIcerigi", cols="40", rows="5",placeholder='haber')
            div.form-group
              input(type='submit', value='Create')
          form(method='post' action='/api/begenme')
            div.form-group
              label(for='idhaber') Haber id:
              input#haverResmi.form-control(type='text', name='idhaber')
            div.form-group
              input(type='submit', value='Create')
          

            